.end-game {
  position: absolute;
  top: 20vh;
  left: 10vw;
  background-color: darkgreen;
  width: 75%;
  padding: 24px;
  margin: auto;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;

  p {
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    color: greenyellow;
    margin-top: 0;
  }

  button {
    padding: 12px 24px;
    border: 1px solid darkblue;
    border-radius: 8px;
    font-size: 20px;
  }
}