.game-board {
  margin: auto;
  margin-top: 36px;
  inline-size: fit-content;

  > li {
    display: flex;
    flex-direction: column;

    > div {
      display: flex;
      flex-direction: row;
      width: fit-content;
      height: fit-content;
      padding: 8px 0;
      > li {
        margin: auto 8px;
        width: 60px;
        height: 60px;
      }
    }
  }

  button {
    width: 60px;
    height: 60px;
    border: 1px solid darkblue;
    border-radius: 8px;
    font-size: 32px;
  }

  li::marker {
    content:"";
  }
}