.logs-title {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  margin-top: 36px;
}

.logs {
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
  border-spacing: 0;
  border: 1px solid grey;
  border-bottom: none;

  @media (max-width: 550px) {
    width: 75vw;
  }

  th, td {
    border-bottom: 1px solid grey;
  }

  td {
    text-align: center;
  }
}